header {
  height: 80px;
  background-color: #eee8d5;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-weight: bold;
}

header .nav {
  display: flex;
  gap: 20px;
}

header .nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

header .nav a:hover {
  color: #f1c40f;
}
