// Define variables for commonly used colors
// solarized bgdark
$base03:    #002b36;
$base02:    #073642;
// content tones
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
// solarized bglight 
$base2:     #eee8d5;
$base3:     #fdf6e3;
// accents
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3)
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}

html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
    color-scheme: sRGB;
    border-inline-end: auto;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('public/static/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'),
       url('public/static/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// Define styles for the header/navbar
div {
  background-color: $base3;
  color: $base1;

  padding: 2in;
  text-align: left;
  h1 {
    margin: 0;
    font-size: 20pt;
  }
  p {
    font-size: 20pt;
    margin-top: 1in;
  }
  .greeting {
    color: $base1;
    font-size: 20pt;
  }

}